body p span{
    transition-duration: 7s;
}

.onhover{
    color: black;
    background-color: rgba(140, 140, 140, .25);
    box-shadow: 1px 1px 3px 2px rgba(140, 140, 140, .25);
    transition-duration: 0s;
}