*{
    margin: 0;
}


body{
    background-color: white;
    font-family: "Aldrich";
}

h1{
    width: 150px;
    font-size: 20px;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

hr {
    width: 80%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.button{
    background-color: white;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    align-content: center;
    margin: auto;
}

.buttonOn{
    color: green;
}

.buttonOff{
    color: rgba(140, 140, 140, .25);
}

button:hover {
    color: black;
}

.buttonHolder{
    text-align: center;
    margin-bottom: 10px;
}